{% extends "main/navbar.html.twig" %}
{% block title %}
    Creation Type
{% endblock %}
{% block body %}
    <center>
    <div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
        <h3>
            <center>Creation de la Type : </center>
        </h3>
        <div class="well">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.libelle, "Libelle :", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.libelle) }}
                <div class="col-sm-4">
                    {# Génération de l'input. #}
                    {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <br/>
            

            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            <div class="row">
                <div class="container">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success'}}) }}
                        
                        {{ form_widget(form.annuler, {'attr': {'class': 'btn btn-danger'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
            {% endfor %}
        </div>
        {% endif %}

        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>{# empty Twig template #}
</center>
    
{% endblock %}
